*{
	font-family: Arial,sans-serif,verdana !important;
}
#index a{
	display: block !important;
	line-height: 28px !important;
	text-decoration: none !important;
}
h4{
	color: #0054a6 !important;
	font-size: 1.126em !important;
	font-weight: bold !important;
}
.highlight{
	color: #0054a6 !important;
	font-size: 0.875em !important;
	font-weight: bold !important;
}
a{
	color: #0054a6 !important;
	font-size: 0.875em !important;
	font-weight: bold !important;
	text-decoration: underline !important;
}
p{
	font-size: 0.875em !important;
	line-height: 1.6em !important;
}
li{
	font-size: 14px !important;
	line-height: 1.6em !important;
}
.important{
	color: #ED1C28 !important;
	text-decoration: underline !important;
}
table td{
	padding:10px !important;
}
table{
	margin-top: 20px;
	margin-bottom: 20px;

}